*{
   /* background-color: darkgreen;  */
}

h1{
    color: blue;
}

h2{
    color: aqua;
}

p{
    color: chocolate;
}


#one > h1,
#one > h2,
#one > h3,
#one > h4,
#one > h5,
#one > h6,
#one > p{
    color: green;
    background-color: black;
}

/* .Selector > h1,h2,h3,h4,h5,h6,p {
    color: gray;
} */


#dummy > h2{
    color: hotpink;
}